---
- name: 10-set-fact | Find fish
  when: ansible_os_family != "Windows"
  block:
    - name: 10-set-fact | Which fish
      ansible.builtin.command: which fish
      register: claude_which_fish
      changed_when: false
      check_mode: false

    - name: 10-set-fact | Set fish_path
      ansible.builtin.set_fact:
        claude_fish_path: '{{ claude_which_fish.stdout }}'

- name: 10-set-fact | Set link items
  ansible.builtin.set_fact:
    claude_link_dir_items:
      - path: '{{ claude_commands }}'
        dest: '{{ claude_home }}/commands'
      - path: '{{ claude_agents }}'
        dest: '{{ claude_home }}/agents'
      - path: '{{ claude_skills }}'
        dest: '{{ claude_home }}/skills'
    claude_link_file_items:
      - path: '{{ claude_settings }}'
        dest: '{{ claude_home }}/settings.json'
      - path: '{{ claude_md }}'
        dest: '{{ claude_home }}/CLAUDE.md'
