---
- name: 11-setup-claude-windows | Make claude config directory
  ansible.windows.win_file:
    state: directory
    path: '{{ claude_home }}'

- name: 11-setup-claude-windows | Check that directory link sources
  ansible.windows.win_stat:
    path: '{{ item.path }}'
  register: claude_stat_link_source_dir
  failed_when: not claude_stat_link_source_dir.stat.exists or not claude_stat_link_source_dir.stat.isdir
  loop: '{{ claude_link_dir_items }}'

- name: 11-setup-claude-windows | Check that file link sources
  ansible.windows.win_stat:
    path: '{{ item.path }}'
  register: claude_stat_link_source_file
  failed_when: not claude_stat_link_source_file.stat.exists or claude_stat_link_source_file.stat.isdir
  loop: '{{ claude_link_file_items }}'

- name: 11-setup-claude-windows | Make symbolic link
  become: true
  ansible.windows.win_shell: >-
    if (-Not(Test-Path "{{ item.dest }}")) { `
      New-Item -Type SymbolicLink `
        -Value "{{ item.path }}" `
        -Path "{{ item.dest }}"; exit 2 `
    }
  register: claude_make_symbolic_links
  failed_when: claude_make_symbolic_links.rc not in [0, 2]
  changed_when: claude_make_symbolic_links.rc == 2
  loop: '{{ claude_link_dir_items + claude_link_file_items }}'

- name: 11-setup-claude-windows | Check Claude Code
  ansible.windows.win_shell: gcm claude
  register: claude_which_claude
  failed_when: claude_which_claude.rc not in [0, 1, 126, 127]
  changed_when: false
  check_mode: false

- name: 11-setup-claude-windows | Install Claude Code
  ansible.windows.win_shell: irm https://claude.ai/install.ps1 | iex
  when: claude_which_claude.rc != 0
  changed_when: true
