---
- name: >-
    includes | brew_tasks | Update Homebrew and upgrade formulae
    (for {{ brew_distr }})
  community.general.homebrew:
    update_homebrew: true
    upgrade_all: true
  # GitHub Actionsで止まるようになってしまったのでスキップ
  when: >-
    ansible_env.GITHUB_ACTIONS is not defined
      or ansible_env.GITHUB_ACTIONS != 'true'

- name: >-
    includes | brew_tasks | Install with brew bundle
    ({{ "file: " + (homebrew_brewfile | basename) + ", for " + (brew_distr) }})
  ansible.builtin.command: >-
    brew bundle install -v --file "{{ homebrew_brewfile }}"
  register: homebrew_brew_bundle
  changed_when: >-
    homebrew_brew_bundle.rc == 0 and homebrew_brew_bundle.stdout
      is search('It is not currently installed')
  ignore_errors: true
