---
- name: includes | change_login_shell_other | Check user's login shell (for other)
  ansible.builtin.shell: cat /etc/passwd | grep -q '{{ home }}:{{ fish_path }}'
  register: fish_check_is_login_shell
  failed_when: fish_check_is_login_shell.rc not in [0, 1]
  changed_when: false
  check_mode: false

- name: includes | change_login_shell_other | Change login shell to fish
  when: fish_check_is_login_shell.rc != 0
  block:
    - name: includes | change_login_shell_other | Find expect
      ansible.builtin.command: which expect
      register: fish_which_expect
      changed_when: false

    - name: includes | change_login_shell_other | Change login shell to fish
      become: true
      ansible.builtin.script: common/chsh.exp "{{ fish_path }}" "{{ my_password }}" "{{ user }}"
      args:
        executable: '{{ fish_which_expect.stdout }}'

    - name: includes | change_login_shell_other | Read current usershell
      ansible.builtin.shell: cat /etc/passwd | grep -e '^{{ user }}:'
      register: fish_recheck_is_login_shell
      changed_when: false
      check_mode: false

    - name: includes | change_login_shell_other | Recheck user's login shell
      ansible.builtin.shell: >-
        echo {{ fish_recheck_is_login_shell.stdout }}
        | grep -q '{{ home }}:{{ fish_path }}'
      changed_when: false
