---
- name: includes | change_login_shell_macos | Check user's login shell (for macOSX)
  ansible.builtin.shell: dscl . -read '/Users/{{ user }}' UserShell | grep -q '{{ fish_path }}'
  register: fish_check_is_login_shell
  failed_when: fish_check_is_login_shell.rc not in [0, 1]
  changed_when: false
  check_mode: false

- name: includes | change_login_shell_macos | Change login shell to fish
  when: fish_check_is_login_shell.rc != 0
  block:
    - name: includes | change_login_shell_macos | Find expect
      ansible.builtin.command: which expect
      register: fish_which_expect
      changed_when: false

    - name: includes | change_login_shell_macos | Change login shell to fish
      become: true
      ansible.builtin.script: common/chsh.exp "{{ fish_path }}" "{{ my_password }}" "{{ user }}"
      args:
        executable: '{{ fish_which_expect.stdout }}'

    - name: includes | change_login_shell_macos | Read current UserShell
      ansible.builtin.command: dscl . -read '/Users/{{ user }}' UserShell
      register: fish_recheck_is_login_shell
      changed_when: false
      check_mode: false

    - name: includes | change_login_shell_macos | Recheck user's login shell
      ansible.builtin.shell: >-
        echo {{ fish_recheck_is_login_shell.stdout }}
        | grep -q '{{ fish_path }}'
      changed_when: false
