[tools]
go = "latest"
node = "latest"
python = "latest"
pnpm = "latest"
pre-commit = "latest"
shellcheck = "latest"
yamllint = "latest"
"go:github.com/rhysd/actionlint/cmd/actionlint" = "latest"

[env]
'_'.file = ".env"
'_'.path = './node_modules/.bin'

[tasks.setup]
description = "Setup project"
depends = ["setup:mise", "setup:pnpm", "setup:pre-commit"]

[tasks."setup:mise"]
description = "Setup project mise"
run = "mise install -y"
sources = ['.mise.toml']

[tasks."setup:pnpm"]
description = "Setup project pnpm"
depends = ["setup:mise"]
run = 'pnpm install'
sources = ['package.json', 'pnpm-lock.yaml', '.mise.toml']
outputs = ['node_modules/.pnpm/lock.yaml']

[tasks."setup:pre-commit"]
description = "Setup project pre-commit"
depends = ["setup:mise"]
run = "pre-commit install"
sources = ['.pre-commit-config.yaml']
outputs = ['.git/hooks/pre-commit']
