[tools]
go = "latest"
node = "latest"
python = "latest"
pnpm = "latest"
pre-commit = "latest"
shellcheck = "latest"
yamllint = "latest"
"go:github.com/rhysd/actionlint/cmd/actionlint" = "latest"

[env]
'_'.file = ".env"

[tasks.setup]
description = "Setup project"
depends = ["setup:mise"]
run = "mise run setup:pre-commit & mise run setup:pnpm"

[tasks."setup:mise"]
description = "Setup project mise"
run = "mise install -y"

[tasks."setup:pre-commit"]
description = "Setup project pre-commit"
depends = ["setup:mise"]
run = "pre-commit install"

[tasks."setup:pnpm"]
description = "Setup project pnpm"
depends = ["setup:mise"]
run = "pnpm install"
