---
exclude: ^(.claude/commands/openspec/.*|.github/pull_request_template.md)$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: end-of-file-fixer

  - repo: https://github.com/c18t/pre-commit-hooks
    rev: v1.3.0
    hooks:
      - id: pretty-quick
      - id: shellcheck
      - id: yamllint

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.1
    hooks:
      - id: markdownlint-cli2

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: '3.0.0'
    hooks:
      - id: script-must-have-extension

  # - repo: https://github.com/rhysd/actionlint
  #   rev: v1.7.7
  #   hooks:
  #     - id: actionlint-system

  - repo: local
    hooks:
      - id: ansible-lint-local
        name: ansible-lint-local
        entry: script/pre-commit/ansible-lint.sh
        language: script
        pass_filenames: false
        always_run: true
