---
- name: includes | 10-make-directories | Make standard directories
  ansible.builtin.file:
    state: directory
    follow: true
    path: '{{ home }}/{{ item }}'
    mode: u=rwx,g=rx,o=rx
  loop: '{{ home_standard_directories }}'

- name: includes | 10-make-directories | Make config directories
  ansible.builtin.file:
    state: directory
    follow: true
    path: '{{ item }}'
    mode: u=rwx,g=rx,o=rx
  loop:
    # XDG
    - '{{ xdg_config_home }}'
    - '{{ xdg_cache_home }}'
    - '{{ xdg_data_home }}'
    # Ghostty
    - '{{ xdg_config_home }}/ghostty'

- name: includes | 10-make-directories | Make ssh directories
  ansible.builtin.file:
    state: directory
    follow: true
    path: '{{ item }}'
    mode: u=rwx
  loop:
    # ssh
    - '{{ home }}/.ssh'
