---
- name: includes | 11-make-symbolic-links | Link to google drive directory
  become: true
  ansible.builtin.file:
    state: link
    follow: false
    force: true
    owner: '{{ user }}'
    src: '{{ my_google_drive }}'
    dest: '{{ home_google_drive }}'

- name: includes | 11-make-symbolic-links | Set link items
  ansible.builtin.set_fact:
    home_link_items:
      # git
      - path: '{{ home_my_git_config }}'
        dest: '{{ home_git_config }}'
      - path: '{{ home_my_git_config_local }}'
        dest: '{{ home_git_config_local }}'
      - path: '{{ home_my_git_ignore }}'
        dest: '{{ home_git_ignore }}'
      # Ghostty
      - path: '{{ home_my_ghostty_config }}'
        dest: '{{ home_ghostty_config }}'

- name: includes | 11-make-symbolic-links | Check that link sources exists
  ansible.builtin.stat:
    path: '{{ item.path }}'
  register: home_stat_link_source
  failed_when: not home_stat_link_source.stat.exists or home_stat_link_source.stat.isdir
  loop: '{{ home_link_items }}'

- name: includes | 11-make-symbolic-links | Link to files
  become: true
  ansible.builtin.file:
    state: link
    follow: false
    force: true
    owner: '{{ user }}'
    src: '{{ item.path }}'
    dest: '{{ item.dest }}'
  loop: '{{ home_link_items }}'
