---
- name: includes | 11-make-symbolic-links-windows | Link to google drive directory
  become: true
  ansible.windows.win_shell: >-
    if (-Not(Test-Path "{{ home_google_drive }}")) { `
      New-Item -Type SymbolicLink `
        -Value "{{ my_google_drive }}" `
        -Path "{{ home_google_drive }}"; exit 2 `
    }
  register: home_make_symbolic_links
  failed_when: home_make_symbolic_links.rc not in [0, 2]
  changed_when: home_make_symbolic_links.rc == 2

- name: includes | 11-make-symbolic-links-windows | Set link directory or file items
  ansible.builtin.set_fact:
    home_link_dir_items:
      # XDG
      - path: '{{ xdg_cache_home }}'
        dest: '{{ home_xdg_cache_home }}'
      - path: '{{ xdg_config_home }}'
        dest: '{{ home_xdg_config_home }}'
      - path: '{{ xdg_data_home }}'
        dest: '{{ home_xdg_data_home }}'

    home_link_file_items:
      # .gitignore
      - path: '{{ home_my_git_config }}'
        dest: '{{ home_git_config }}'
      # .gitignore.local
      - path: '{{ home_my_git_config_local }}'
        dest: '{{ home_git_config_local }}'
      # config/ignore
      - path: '{{ home_my_git_ignore }}'
        dest: '{{ home_git_ignore }}'

- name: includes | 11-make-symbolic-links-windows | Check that directory link sources
  ansible.windows.win_stat:
    path: '{{ item.path }}'
  register: home_stat_link_source_dir
  failed_when: not home_stat_link_source_dir.stat.exists or not home_stat_link_source_dir.stat.isdir
  loop: '{{ home_link_dir_items }}'

- name: includes | 11-make-symbolic-links-windows | Check that file link sources
  ansible.windows.win_stat:
    path: '{{ item.path }}'
  register: home_stat_link_source_file
  failed_when: not home_stat_link_source_file.stat.exists or home_stat_link_source_file.stat.isdir
  loop: '{{ home_link_file_items }}'

- name: includes | 11-make-symbolic-links-windows | Make symbolic link
  become: true
  ansible.windows.win_shell: >-
    if (-Not(Test-Path "{{ item.dest }}")) { `
      New-Item -Type SymbolicLink `
        -Value "{{ item.path }}" `
        -Path "{{ item.dest }}"; exit 2 `
    }
  register: home_make_symbolic_links
  failed_when: home_make_symbolic_links.rc not in [0, 2]
  changed_when: home_make_symbolic_links.rc == 2
  loop: '{{ home_link_dir_items + home_link_file_items }}'
