---
- name: includes | install-package | Check package exists ({{ item.name }})
  become: true
  ansible.windows.win_shell: winget list -e --id '{{ item.list_id | default(item.name) }}'
  register: winget_check_package
  changed_when: false
  failed_when: false

- name: includes | install-package | Install package {{ item.name }}
  become: true
  ansible.windows.win_shell: >-
    winget install -e --id '{{ item.name }}'
    {{ item.force | default(false) | ternary('--force', '') }}
  when: winget_check_package is failed
