---
- name: 10-add-repositories | Add apt keys
  become: true
  ansible.builtin.get_url:
    url: '{{ item.url }}'
    dest: '/usr/share/keyrings/{{ item.filename }}'
    mode: u=rw,g=r,o=r
  loop: '{{ apt_keys }}'

- name: 10-add-repositories | Add apt repositories
  become: true
  ansible.builtin.apt_repository:
    repo: '{{ item.repo }}'
    filename: '{{ item.filename }}'
  loop: '{{ apt_repositories }}'
