---
- name: Apt role tasks
  tags: apt
  block:
    - name: Add apt repository
      ansible.builtin.import_tasks: 10-add-repositories.yaml
    - name: Update and upgrade apt packages
      ansible.builtin.import_tasks: 11-update-and-upgrade.yaml
    - name: Install apt packages
      ansible.builtin.import_tasks: 12-install-packages.yaml
    - name: Setup Docker
      ansible.builtin.import_tasks: 13-setup-docker.yaml
