---
name: pre-commit

on:
  pull_request:
  push:

jobs:
  pre-commit:
    runs-on: ubuntu-slim
    steps:
      - name: checkout repo
        uses: actions/checkout@v5
      - name: setup python for pre-commit action
        uses: actions/setup-python@v6
      - name: install linter with mise
        uses: jdx/mise-action@v3
        with:
          experimental: true
      - name: install pretty-quick and dependencies
        run: pnpm install
      - name: run pre-commit
        uses: pre-commit/action@v3.0.1
      - name: run ansible-lint
        uses: ansible/ansible-lint@v25
        env:
          ANSIBLE_HOME: ./ansible
